/* .grida {
	width:540px;
	display: grid;
	row-gap: 140px;
	grid-template-columns: repeat(4, 120px);
	justify-content:space-evenly;
	align-content: space-evenly;
	background-color: #fff;
	color: #444;
}

.card {
	background-color: #ddd;
	color: #555;
	border-radius: 5px;
	font-size: 150%;
	padding: 30px 50px
}


.b, .c, .d, .e, .f, .g, .h, .i, .j {
	width: 20px;
} */

body {
  padding: 20px;
  background-color: BlanchedAlmond;
  font-family: Avenir;
}

p {
  color: navy;
}

h1, h2, h3, h4, p {
  color: navy;
}

.sidebar {
	grid-row: auto / span 3 !important;
	float: left;
  color: navy;
}

.wrapper {
  display: grid;
  grid-template-columns: 28% 18% 18% 18% 18%;
	padding-right: 45px;
	/* margin-bottom: 500px; */
	grid-template-rows: 85% 85% 85% 85%;
  grid-gap: 10px;
  background-color: #transparent;
  color: #444;
}

.box {
  background-color: transparent;
  color: #fff;
  border-style: solid;
  border-radius: 5px;
  padding: 20px 20px 0px;
  font-size: 150%;
  text-align: center;
	/* height: 95%; */

}
.animal-image {
	width: 100%;
	display: block;
	vertical-align: middle;
}

h4 {
	line-height: 1px;
	margin-top: 20px;
	margin-bottom: 10px;
	text-align: center;
	vertical-align: middle;
}
/*
.button-row img {

} */

.taskBtn {
  display: inline-block;
  width: 17%;
  margin-top: 7%;
  margin-left: 3%;
  margin-right: 3%;
}