body {
  /* padding: 10px; */
  background-color: #a9bfd2;
  font-family: Avenir;
}

h1, h2, h3, h4, p, li {
  color: #4A5AA8;
}

.instructions {
  align-items: center;
  float: none;
  width: 70%;
  margin: 0 auto;
  padding-bottom: 15px;
}

.how-to {
  padding-bottom: 10px;
  text-align: left;
}

p {
  line-height: 25px;
}

h3 {
  font-size: 20px;
  line-height: 25px;
}

a {
  color: #4A5AA8;
  text-decoration-style: wavy;
}

.task-list {
  color: #4A5AA8;
}

h7 {
  font-family: 'Knewave', cursive;
  font-size: 60px;
  line-height: 105%;
  color: #4A5AA8;
}

h6 {
  font-family: 'Knewave', cursive;
  font-size: 35px;
  /* line-height: 85%; */
  margin: 0px;
  /* padding-top: 70px; */
  color: #4A5AA8;
}

input[type="text"] {
  width: 300px;
  height: 30px;
  text-align: center;
  font-size: 20px;
  font-family: Avenir;
  color: #4A5AA8;
}

#clock {
  margin: 10px;
}

.sidebar, #sidebar {
	grid-row: auto / span 3 !important;
	float: left;
  color: #4A5AA8;
  height: 75%;
  max-height: 585px;
}

.wrapper {
  display: grid;
  align: center;
  grid-template-columns: 50% 16% 16% 16%;
	padding-right: 45px;
	/* margin-bottom: 500px; */
	grid-template-rows: 50% 50% 50% 50%;
  grid-gap: 10px;
  background-color: #transparent;
  color: #444;
}

.box {
  background-color: #DFCAA7;
  border-color: #4A5AA8;
  border-width: 6px;
  border-style: solid;
  border-radius: 10px;
  padding: 20px 20px 0px;
  font-size: 150%;
  text-align: center;
  margin-bottom: 10px;
  box-shadow: 5px 5px 5px #888888;
}
.animal-image {
	width: 100%;
	display: block;
	vertical-align: middle;
  border-radius: 8px;
}

h4 {
	line-height: 1px;
	margin-top: 20px;
	margin-bottom: 10px;
	text-align: center;
	vertical-align: middle;
}

.body {
  align: center;
  position: relative;
  text-align: center;
  vertical-align: middle !important;
}

.task {
  color: #4A5AA8;
  padding-bottom: 2%;
  font-size: 18px;
}

.taskbtn {
  display: inline-block;
  width: 17%;
  margin-top: 7%;
  margin-left: 3%;
  margin-right: 3%;
  opacity: 1;
}

.taskbtn:hover {
  opacity: 0.7;
}

.taskbtn:active {
  transform: translateY(2px) translateX(2px);
}

/* HOMEPAGE LAYOUT */

@import "compass/css3";

.wrapperz {
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
}

.wrapperz > * {
  padding: 10px;
  flex: 1 100%;
}

.header {
  background: none;
  padding-bottom: 20px;
}

.footer {
  /* background: #DFCAA7; */
  padding-top: 20px;
}

.main {
  text-align: center;
  background: #DFCAA7;
  padding-bottom: 50px;
}

.aside-1 {
  background: #DFCAA7;
  padding-left: 60px;
}

.aside-2 {
  background: #DFCAA7;
  padding-right: 60px;
}

@media all and (min-width: 600px) {
  .aside { flex: 1 0 0; }
}

@media all and (min-width: 800px) {
  .main    { flex: 3 0px; }
  .aside-1 { order: 1; }
  .main    { order: 2; }
  .aside-2 { order: 3; }
  .footer  { order: 4; }
}

body {
  padding: 1em;
}

/* BUTTONS */
#butngreen {
  background: #59A25D;
  background-image: -webkit-linear-gradient(top, #59A25D, #82c786);
  background-image: -moz-linear-gradient(top, #59A25D, #82c786);
  background-image: -ms-linear-gradient(top, #59A25D, #82c786);
  background-image: -o-linear-gradient(top, #59A25D, #82c786);
  background-image: linear-gradient(to bottom, #59A25D, #82c786);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Avenir;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

#butngreen:hover {
  background: #82c786;
  background-image: -webkit-linear-gradient(top, #82c786, #8eda92);
  background-image: -moz-linear-gradient(top, #82c786, #8eda92);
  background-image: -ms-linear-gradient(top, #82c786, #8eda92);
  background-image: -o-linear-gradient(top, #82c786, #8eda92);
  background-image: linear-gradient(to bottom, #82c786, #8eda92);
  text-decoration: none;
}

#butnyellow {
  background: #DBA828;
  background-image: -webkit-linear-gradient(top, #DBA828, #eab531);
  background-image: -moz-linear-gradient(top, #DBA828, #eab531);
  background-image: -ms-linear-gradient(top, #DBA828, #eab531);
  background-image: -o-linear-gradient(top, #DBA828, #eab531);
  background-image: linear-gradient(to bottom, #DBA828, #eab531);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Avenir;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

#butnyellow:hover {
  background: #eab531;
  background-image: -webkit-linear-gradient(top, #eab531, #f1c045);
  background-image: -moz-linear-gradient(top, #eab531, #f1c045);
  background-image: -ms-linear-gradient(top, #eab531, #f1c045);
  background-image: -o-linear-gradient(top, #eab531, #f1c045);
  background-image: linear-gradient(to bottom, #eab531, #f1c045);
  text-decoration: none;
}

#butnred, #restartend {
  background: #B5403A;
  background-image: -webkit-linear-gradient(top, #B5403A, #c6463f);
  background-image: -moz-linear-gradient(top, #B5403A, #c6463f);
  background-image: -ms-linear-gradient(top, #B5403A, #c6463f);
  background-image: -o-linear-gradient(top, #B5403A, #c6463f);
  background-image: linear-gradient(to bottom, #B5403A, #c6463f);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Avenir;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

#butnred:hover, #restartend:hover {
  background: #c6463f;
  background-image: -webkit-linear-gradient(top, #c6463f, #db4c44);
  background-image: -moz-linear-gradient(top, #c6463f, #db4c44);
  background-image: -ms-linear-gradient(top, #c6463f, #db4c44);
  background-image: -o-linear-gradient(top, #c6463f, #db4c44);
  background-image: linear-gradient(to bottom, #c6463f, #db4c44);
  text-decoration: none;
}

#leaderboard {
  font-weight: bold;
  border: none;
  background: #4A5AA8;
  background-image: -webkit-linear-gradient(top, #4A5AA8, #5A69AF);
  background-image: -moz-linear-gradient(top, #4A5AA8, #5A69AF);
  background-image: -ms-linear-gradient(top, #4A5AA8, #5A69AF);
  background-image: -o-linear-gradient(top, #4A5AA8, #5A69AF);
  background-image: linear-gradient(to bottom, #4A5AA8, #5A69AF);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Avenir;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

#restart {
  font-weight: bold;
  border: none;
  background: #4A5AA8;
  background-image: -webkit-linear-gradient(top, #4A5AA8, #5A69AF);
  background-image: -moz-linear-gradient(top, #4A5AA8, #5A69AF);
  background-image: -ms-linear-gradient(top, #4A5AA8, #5A69AF);
  background-image: -o-linear-gradient(top, #4A5AA8, #5A69AF);
  background-image: linear-gradient(to bottom, #4A5AA8, #5A69AF);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 30px;
  font-family: Avenir;
  color: #ffffff;
  font-size: 20px;
  padding: 5px 20px 5px 20px;
  text-decoration: none;
}

#leaderboard:hover, #restart:hover {
  font-weight: bold;
  background: #5A69AF;
  background-image: -webkit-linear-gradient(top, #5A69AF, #7B87BF);
  background-image: -moz-linear-gradient(top, #5A69AF, #7B87BF);
  background-image: -ms-linear-gradient(top, #5A69AF, #7B87BF);
  background-image: -o-linear-gradient(top, #5A69AF, #7B87BF);
  background-image: linear-gradient(to bottom, #5A69AF, #7B87BF);
  text-decoration: none;
}